<div class="container">
	<button class="btn btn-default" (click)="newTask()"><span class="glyphicon glyphicon-plus"></span> Nouvelle tâche</button>
	<div class="row">
		<div class="col-md-3">
			<h3 class="text-center"><span class="label label-default">Non classée</span></h3>
			<div *ngFor="#todo of todos" (click)="gotoDetail(todo)" >
				<div class="blockquote-box clearfix" *ngIf="todo.status === 'Aucun'">
					<div class="square">
						<p>{{todo.content}}</p>
						<button class="btn btn-default" (click)="gotoDetail(todo)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-default" (click)="remove(todo)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<h3 class="text-center"><span class="label label-danger">A faire</span></h3>
			<div *ngFor="#todo of todos" (click)="gotoDetail(todo)" >
				<div class="blockquote-box blockquote-danger clearfix" *ngIf="todo.status === 'A faire'">
					<div class="square">
						<p>{{todo.content}}</p>
						<button class="btn btn-default" (click)="gotoDetail(todo)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-default" (click)="remove(todo)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<h3 class="text-center"><span class="label label-warning">En cours</span></h3>
			<div *ngFor="#todo of todos" (click)="gotoDetail(todo)" >
				<div class="blockquote-box blockquote-warning clearfix" *ngIf="todo.status === 'En cours'">
					<div class="square">
						<p>{{todo.content}}</p>
						<button class="btn btn-default" (click)="gotoDetail(todo)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-default" (click)="remove(todo)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<h3 class="text-center"><span class="label label-success">Terminée</span></h3>
			<div *ngFor="#todo of todos" (click)="gotoDetail(todo)" >
				<div class="blockquote-box blockquote-success clearfix" *ngIf="todo.status === 'Terminée'">
					<div class="square">
						<p>{{todo.content}}</p>
						<button class="btn btn-default" (click)="gotoDetail(todo)"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-default" (click)="remove(todo)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
			</div>
		</div>						
	</div>
</div>
