.glyphicon-lg{font-size:3em}
.blockquote-box{border-left:10px solid #C0C0C0;margin-bottom:10px;background-color:#E6E6E6;min-height:75px;}
.blockquote-box:hover{background-color:#A9A9A9;}
.blockquote-box .square{margin-left:22px;margin-top:10px;}
.blockquote-box .h4{text-align:center!important;}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-warning{border-color:#F0AD4E}
.blockquote-box.blockquote-danger{border-color:#D43F3A}